
/* Light mode styles */
#theme-wrapper {
    background-color: white;
    color: black;
  }
  
  /* Dark mode styles */
  #theme-wrapper.dark-mode {
    background-color: black;
    color: white;
  }
  
  /* Example for other elements */
  .navbar {
    background-color: lightgray;
  }
  
  #theme-wrapper.dark-mode .navbar {
    background-color: darkgray;
  }


/* Add your custom styles here */

.bg-auth {
  background-image: url('/static/image/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-color: #ffc4d4;
}
