{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>YumYogya</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="pt-24">
    <header>
        <h1>YumYogya forum</h1>
    </header>
    <main>
        <section>
            <h1>Add New Forum</h1>
            <form method="POST">
                {% csrf_token %}
                <table>
                  {{ form.as_table }}
                  <tr>
                    <td></td>
                    <td>
                      <input type="submit" value="Add Forum" />
                    </td>
                  </tr>
                </table>
              </form>
            <p>This is a simple forum page.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 YumYogya </p>
    </footer>
</body>
<a href="{% url 'main:forum' %}">
  <button>Add New Mood Entry</button>
</a>
{% endblock content %}